<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlgoDemoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8090/algodemo" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAlgoDemoService" contract="SvcRefAlgoDemo.IAlgoDemoService"
                name="BasicHttpBinding_IAlgoDemoService" />
        </client>
    </system.serviceModel>
</configuration>